# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Files with crlf endings
LICENSE text eol=crlf
*.ts text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.yml text eol=crlf